{% macro render(data, headers=true) %}
{% for row in data %}  {# data是迭代器 #}
    {% if loop.first %}
    {{ render_header(row) }}
    {% else %}
    {{ render_row(row) }}
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro render_row(row) %}
    <tr>
    {% for cell in row %}
        <td>{{ cell }}</td>
    {% endfor %}
    </tr>
{% endmacro %}

{% macro render_header(row) %}
<thead>
    <tr>
    {% for cell in row %}
        <th>{{ cell }}</th>
    {% endfor %}
    </tr>
</thead>
{% endmacro %}